---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";
import Analytics from "@vercel/analytics/astro";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
const canonical = new URL(Astro.url.pathname, "https://annaadar.dev").href;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<ThemeProvider />
		<link rel="canonical" href={canonical} />
		<link rel="icon" href="/icons/favicon.ico" sizes="any" />
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
		<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
	</head>
	<body
		class="bg-global-bg text-global-text mx-auto flex min-h-screen max-w-5xl flex-col px-4 pt-16 font-mono text-base font-normal antialiased sm:px-8"
	>
		<Analytics />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
		<script is:inline type="speculationrules">
			{
				"prefetch": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "immediate"
					}
				],
				"prerender": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "moderate"
					}
				]
			}
		</script>
	</body>
</html>
